
h2 {
    color: red;
}
.title {
    color: darkred;
}
header {
    background-color: #478ebb;
    color: #5d349b;
    padding: 20px;
background-color: aqua;
}
botton{
font-size:50px;
background-color:aquamarine;
color: #5d349b;
}